.tuner {
  padding: 20px;

  margin-inline: 200px;

  width: 100%;
  min-height: 600px;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;

  background-color: var(--gr);
  border-radius: 15px;
}
.tuner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
