.tuner {
  padding: 20px;

  margin-inline: 200px;

  width: 100%;
  min-height: 400px;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;

  border-radius: 15px;
  background-color: var(--gr);
}
.tuner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid var(--wh);
  padding-bottom: 10px;
}
