.indicator {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.indicator__screen {
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  padding: 40px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  border-radius: 10px;
}

.indicator__lineContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.indicator__line {
  width: 20px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--bk); /* Línea inactiva (negra por defecto) */
  transition: height 0.3s ease;
}

.indicator__line.activeLine {
  background-color: var(--primary); /* Línea activa (verde) */
}

.indicator__line.inactiveLine {
  background-color: var(--bk); /* Línea inactiva (negra) */
}

/* Nuevos colores para las líneas activas */
.indicator__line.redLine {
  background-color: var(--red);
}

.indicator__line.yellowLine {
  background-color: var(--yl);
}

.indicator__line.greenLine {
  background-color: var(--primary);
}

.indicator__item {
  font-size: 8rem;
  font-weight: 400;
}

.indicator__frequency {
  font-size: 1rem;
  color: var(--bk);
}
