.indicator {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
}
.indicator__screen {
  width: 100%;
  max-width: 600px;
  min-height: 200px;

  padding: 40px;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);

  border-radius: 10px;
  background-color: var(--gr);
}

.indicator__lineContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.indicator__line {
  width: 10px;
  height: 100%;

  border-radius: 10px;
  background-color: var(--bk);
  transition: height 0.3s ease;
}
.indicator__item {
  font-size: 8rem;
  font-weight: 400;
}
.indicator__frequency {
  font-size: 1rem;
  color: var(--bk);
}
