.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: var(--red);
  font-size: var(--xl);
}

.message {
  font-size: var(--s);
  text-align: center;
}
