.navBar {
  position: relative;
  margin-inline: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar__logo {
  font-weight: 800;
}
.navBar__itemsContainer {
  display: flex;
  gap: 20px;
}
.navBar__menuIcon {
  display: none;
}
@media (max-width: 992px) {
  .navBar {
    margin-inline: 50px;
  }
}

@media (max-width: 576px) {
  .navBar {
    margin-inline: 25px;
  }
  .navBar__menuIcon {
    display: block;
    font-size: var(--l);
  }
  .navBar__item {
    background-color: var(--wh);
  }
  .navBar__item:hover {
    background-color: var(--wh);
    color: var(--bk);
  }
  .navBar__itemsContainer {
    position: absolute;
    top: 80px;
    right: 0;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: var(--bk-op-2);
    color: var(--bk);
    border-radius: 10px;
    display: none;
  }
  .display-visible {
    display: flex;
  }
  .display-invisible {
    display: none;
  }
}
