.notesContainer {
  position: relative;
}
.notes {
  display: flex;
  gap: 20px;
  transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
}

.fadeIn {
  opacity: 1; /* Totalmente visible */
}

.fadeOut {
  opacity: 0; /* Totalmente invisible */
}

.notes__item {
  padding: 4px 10px;
  border-radius: 10px;
  background-color: var(--wh);
}
.menuIcon {
  display: none;
}
@media (max-width: 576px) {
  .menuIcon {
    display: block;
    font-size: var(--l);
  }
  .notes__item {
    font-size: var(--m);
  }
  .notes {
    position: absolute;
    top: 80px;
    right: 0;

    padding: 20px;

    min-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--bk-op-2);
    color: var(--wh);
    border-radius: 10px;
  }
  .display-visible {
    display: flex;
  }
  .display-invisible {
    display: none;
  }
}
@media (max-width: 992px) {
}
