.app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--wh);
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 576px) {
  .containerSpa {
    align-items: flex-start;
  }
}
